<table class =  "table">
<tr>
<th>Developer Name</th>
<th>email</th>

<th>Update</th>
</tr>
<%  @users.each do |user|   %>
 <tr>
   <td><%=  user.name   %></td>
   <td><%= user.email  %></td>
     <td><%=  link_to  'Update to Developer',  user_path(user.id), method: :put  %></td>
   <%  end %>
 <%  end %>
 </tr>
</table>
